          <table>
            <tr class="header">
              <th class="controls">
                <div class="view-mode-only">
                  <a href="#" class="button small secondary icon cog"></a>
                </div>
                <div class="edit-mode-only">
                  <button id="add-row">+⇣</button>
                  <button id="add-col">+⇢</button>
                </div>
              </th>
              <th class="column"></th>
            </tr>
            <tr class="data"/>
          </table>
